<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$title$</title>
</head>
<body>
<div>姓名：<%=data.realName%></div>
<div>电话：<%=data.userPhone%></div>
<div>申请时间：<%=data.addTime%></div>
<div>是否同意：<%=data.agree.data%></div>
</body>
</html>